.hidden {
    display: none;
}

label {
    font-weight: bold;
}

divs {
    border: 1px solid #0b2e13;
}

/* Begin custom section */

.price {
    border-top: 1px solid #e0dada;
}

.price > span {
    color: #a00000;
}

.product-title, .price, .total-price, .sub-total, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}